body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1074px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u8213_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8213 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:21px;
  width:165px;
  height:37px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8214 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  white-space:nowrap;
}
#u8215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:17px;
  height:30px;
}
#u8215 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:25px;
  width:17px;
  height:30px;
}
#u8216 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:13px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8217 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:87px;
  width:178px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8218 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:178px;
  white-space:nowrap;
}
#u8219 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:126px;
  width:1032px;
  height:581px;
}
#u8219_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:581px;
  overflow:auto;
}
#u8220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8220 {
  border-width:0px;
  position:absolute;
  left:37px;
  top:759px;
  width:314px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8221 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:314px;
  white-space:nowrap;
}
#u8222 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:798px;
  width:1032px;
  height:581px;
}
#u8222_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:581px;
  overflow:auto;
}
#u8223_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:300px;
  height:37px;
}
#u8223 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:2096px;
  width:300px;
  height:37px;
}
#u8224 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:296px;
  visibility:hidden;
  word-wrap:break-word;
}
#u8225_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8225 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:2143px;
  width:251px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:251px;
  white-space:nowrap;
}
#u8227 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:2182px;
  width:1032px;
  height:581px;
}
#u8227_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:581px;
  overflow:auto;
}
#u8228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8228 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:1446px;
  width:268px;
  height:22px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u8229 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:268px;
  white-space:nowrap;
}
#u8230 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:1485px;
  width:1032px;
  height:581px;
}
#u8230_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:1032px;
  height:581px;
  overflow:auto;
}
