@import url('http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,800,700,600,300');
@import url('http://fonts.googleapis.com/earlyaccess/nanumgothic.css');
@import url('https://fonts.googleapis.com/css?family=Damion');

body, html {
	font-family:'Nanum Gothic';
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	color: #656c6d;
	width: 100% !important;
	height: 100% !important;
	word-break: keep-all;
}
h1 {
	font-weight: 700;
	font-family:'Nanum Gothic';
}
h1 strong {
	font-weight: 900;
	font-family:'Nanum Gothic';
}
h2 {
	font-family:'Nanum Gothic';
	line-height: 20px;
	margin: 0;
	color: #121d1f;
	font-weight: 400;
	margin-bottom: 30px;
	font-size: 34px;
}
h3, h4 {
	font-family:'Nanum Gothic';
	color: #121d1f;
	font-size: 20px;
	font-weight: 600;
}
h5 {
	font-family:'Nanum Gothic';
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}
h6{
	font-family:'Nanum Gothic';
	font-weight: 700;
	line-height: 20px;
	font-size: 14px;
	color: #121d1f;
}
h7{
	font-family:'Nanum Gothic';
	line-height: 25px;
	letter-spacing: 0.3px;
	font-size: 14px;
	color: #333;
}
p.intro {
	font-size: 16px;
	margin: 12px 0 0;
	line-height: 24px;
	font-family:'Nanum Gothic';
}
a {
	color: #333;
}
a:hover, a:focus {
	text-decoration: none;
	color: #7bc3d1;
}
ul, ol {
	list-style: none;
}
.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}
.clearfix {
	display: inline-block;
}
* html .clearfix {
	height: 1%;
}
.clearfix {
	display: block;
}
ul, ol {
	padding: 0;
	webkit-padding: 0;
	moz-padding: 0;
}
hr {
	height: 4px;
	width: 70px;
	text-align: center;
	position: relative;
	background: #7bc3d1;
	margin: 0 auto;
	margin-bottom: 30px;
	border: 0;
}

/*filter css*/
.filter-wrapper {
    width: 100%;
    overflow: hidden;
}

.filter-wrapper li {
    display: inline-block;
    margin: 4px;
}

/* .filter-wrapper li a {
    color: #666;
    background-color : #fff;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 8px 17px;
    margin-right: 2px;
    margin-left: 2px;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}*/
.filter-wrapper li a:hover,
.filter-wrapper li a:focus {
  color: #9437ff;
  border-bottom: 3px solid #9437ff;
} 

.filter-wrapper .selected{
  border-bottom: 3px solid #9437ff;
}

/*isotope box css*/
.iso-box-section {
    width: 100%;
}

.iso-box-wrapper {
    width: 100%;
    padding: 0;
    clear: both;
    position: relative;
}

.iso-box {
    position: relative;
    min-height: 50px;
    float: left;
    overflow: hidden;
    margin-bottom: 30px;
}

.iso-box > a {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
} 

.block:hover{
	margin-bottom: 5px;
	box-shadow: 3px 3px 3px #bbb;
}

.fluid-img {
    width: 100%;
    display: block;
}

.filter-wrapper {
  padding: 0px;
}


/* boxLoading section  */ 

.boxLoading {
  width: 50px;
  height: 50px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.boxLoading:before {
  content: '';
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  animation: shadow .5s linear infinite;
}
.boxLoading:after {
  content: '';
  width: 50px;
  height: 50px;
  background: #192e49;
  animation: animate .5s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
}
@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    transform: translateY(18px) scale(1, 0.9) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
@keyframes shadow {
  0%,
  100% {
    transform: scale(1, 1);
  }
  50% {
    transform: scale(1.2, 1);
  }
}

/* Preloader section  */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  background: none repeat scroll 0 0 #ffffff;
}

.sk-spinner-pulse {
  width: 60px;
  height: 60px;
  background-color: #222;
  border-radius: 100%;
  -webkit-animation: sk-pulseScaleOut 1s infinite ease-in-out;
          animation: sk-pulseScaleOut 1s infinite ease-in-out; }

@-webkit-keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }

@keyframes sk-pulseScaleOut {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0); }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0; } }


/* header */
#header img{
	width:60px;
	margin:0 auto;
}
#header .intro-text{
	margin:0 auto;
	padding: 50px;
}
#header .row{
	margin:0 auto;
}
/* Home Section */
.intro {
	display: table;
	width: 100%;
	height: 100%;
	text-align: center;
	color: #fff;
	background-color: #192e49;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.section-title.center {
	padding: 80px;
}

/* Navigation */
#nav {
	z-index: 9999;
}
#nav.affix {
	position: fixed;
	top: 0;
	width: 100%
}
#nav .fa{
	font-size: 30px;
	margin-top: -7px;
}
.navbar-custom{	
	margin-bottom: 0;
	border-radius: 0px;
	padding: 0;
	padding:3px 0;	
	background-color: #192e49;
}

#nav .select{
	color: #00bce9;
	font-weight:600;
	border-left: 0px;
}
.navbar-custom .navbar-brand {
	font-weight: 600;
	
}
.navbar-custom .navbar-brand:focus {
	outline: 0;
}
.navbar-custom .navbar-brand .navbar-toggle {
	padding: 4px 6px;
	font-size: 16px;
	color: #fff;
}
.navbar-custom .navbar-brand .navbar-toggle:focus, .navbar-custom .navbar-brand .navbar-toggle:active {
	outline: 0;
}
.navbar-custom a {
	color: #f4f5f6;
}
.navbar-custom .nav li a {
	text-transform: uppercase;
	letter-spacing: 1px;
	-webkit-transition: background .3s ease-in-out;
	-moz-transition: background .3s ease-in-out;
	transition: background .3s ease-in-out;
}
.navbar-custom .nav li a:hover {
	outline: 0;
	color: #7bc3d1;
	background-color: transparent;
}
.navbar-custom .nav li a:focus, .navbar-custom .nav li a:active {
	outline: 0;
	background-color: transparent;
	color: #7bc3d1;
}
.navbar-custom .nav li.active {
	outline: 0;
}
.navbar-custom .nav li.active a {
	background-color: rgba(255,255,255,.3);
}
.navbar-custom .nav li.active a:hover {
	color: #fff;
}
.btn-default {
	color: #fff;
	background-color: transparent;
	border-color: #fff;
	padding: 10px 20px;
	margin: 0;
	font-size: 16px;
	border-radius: 0;
}
.btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active {
	color: #fff;
	background-color: #121d1f;
	border-color: #121d1f;
}
.btn-primary {
	color: #fff;
	background-color: #121d1f;
	padding: 10px 20px;
	border-color: #121d1f;
	border-radius: 0;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary.focus, .btn-primary:active, .btn-primary.active {
	color: #fff;
	background-color: #7bc3d1;
	border-color: #7bc3d1;
}
.btn-primary i.fa {
	margin-right: 10px;
}
#history{
	background-color: #fafafa;
}
#Main{
  padding-top: 70px;
  padding-bottom: 120px;
  background: #e3e3e3; 
  text-align: center; 
}
#Main .contents{
	margin: 50px 0;
}
#Main .contents .img{
	margin: 30px 0;
}
#Main span h3{
	text-align: center;
	margin:100px 0;
	line-height: 1.5;
}
#Main span h5{
	text-align: center;
	margin:20px 0;
	line-height: 1.5;
}
#Main .sub-img{
	width: 100%;
}
#Main .sub-img_L{
	width: 90%;
}
#Main .sub-img_S{
	width: 70%;
}
#Main .sub-nav{	
	width: 100%;
	background-color: #fff;
	padding: 20px 30px 30px 30px;
	margin-bottom:20px;
}
#Main .sub-nav ul{
	list-style-type: none;
}
#Main .sub-nav ul li{
	display: inline;
	float: left;
	font-size: 14px;
}
/* Main section  */
#Main .Main-thumb {
  background-color: #ffffff;
  position: relative;
  padding: 30px;
  min-height: 100%;
}
#Main .Main-thumb-text {
  background-color: #ffffff;
  position: relative;
  padding: 50px;
  min-height: 100%;
}
#Main .Main-thumb-sub{
  position: relative;
  padding: 50px;
  min-height: 100%;
}
#Main .Main-text{
	height: 100%;
}
#Main .Main-text .Main-bg{	
	width:100%;
	background-color: #f0f0f0;
	height: 100%;
	padding:0;
}
#Main .Main-icon {
  background-color: #192e49;
  width: 85px;
  height: 85px;
  margin: 0 auto;
  top: 0;
  margin-top: -70px;
  margin-bottom: 30px;
  position: relative;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  border-radius: 50%;
  display: table;
  text-align: center;
  transition: all 0.4s ease-in-out;
}

#Main .Main-icon:hover {
  background-color: #c21500;
}
#Main .Main-icon span {
  display: table-cell;
  vertical-align: middle;
}
.Main-thumb span{
	position:relative;
	color:#192e49;
	font-size: 30px;
}
#Main .Main-icon .fa {
  color: #ffffff;
  font-size: 36px;
  margin: 0;
  padding: 0;
}
#Main p{
  overflow: hidden;
  text-align:left;
  margin: 0;
  padding:0;
}
#Main a{	
	overflow: hidden;
}
#Main a img:hover{
  opacity:0.6;
  transform: scale(1.05);
  transition: all .5s;
}
#Main h2 {
	position : relative;
	float:left;
	text-align:left;
	color:#192e49;
	font-size: 30px;
	font-weight: 700;
	margin-bottom: 20px;
}
#Main h2 span{
	color:#666;
	font-size: 10px;
	line-height: 40px;
}
#Main h3 {
	width:100%;
	text-align:left;
	color:#192e49;
	font-size: 22px;
	font-weight: 700;
	margin-top:10px;
	margin-bottom:20px;
}

#Main h5{
	text-align:left;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 20px;
}

#Main .col-md-4{
    margin-top: 42px;
}

#Main .btn-reading{
	float: left;
	padding: 8px 10px;
	background-color: #ededed;
	margin-top:30px;
}
#Main .btn-reading:HOVER{
	background-color: #192e49;
	color: #fff;
	
}
#Main .btn-infor{
	float: left;
	padding: 8px 10px;
	background-color: #dbdbdb;
	margin-top:30px;
}
#Main .btn-infor:HOVER{
	background-color: #192e49;
	color: #fff;
	
}

/* History Section */

.timeline {
	position: relative;
	padding: 0;
	list-style: none;
}
.timeline:before {
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 50%;
	width: 2px;
	margin-left: -1.5px;
	background-color: #eee;
}

.timeline>li {
	position: relative;
	margin-bottom: 100px;
	min-height: 100px;
}
.timeline>li:before, .timeline>li:after {
	content: " ";
	display: table;
}
.timeline>li:after {
	clear: both;
}
.timeline>li .timeline-panel {
	float: left;
	position: relative;
	width: 41%;	
	padding: 20px;
	text-align: right;
}
.timeline>li .timeline-panel:before {
	right: auto;
	left: -15px;
	border-right-width: 15px;
	border-left-width: 0;
}
.timeline>li .timeline-panel:after {
	right: auto;
	left: -14px;
	border-right-width: 14px;
	border-left-width: 0;
}

.timeline>li .timeline-image {
	z-index: 100;
	position: absolute;
	left: 50%;
	width: 130px;
	height: 130px;
	margin-left: -65px;
	border: 1px solid #eee;
	border-radius: 100%;
	text-align: center;
	background: #fff;
}
.timeline>li .timeline-image h4 {
	padding-top: 15px;
	margin-top: 22px;
	font-size: 16px;
	text-transform: uppercase;
}

.timeline>li.timeline-inverted>.timeline-panel {
	float: right;	
	padding: 0 30px 20px 20px;
	text-align: left;
}
.timeline>li.timeline-inverted>.timeline-panel:before {
	right: auto;
	left: -15px;
	border-right-width: 15px;
	border-left-width: 0;
}
.timeline>li.timeline-inverted>.timeline-panel:after {
	right: auto;
	left: -14px;
	border-right-width: 14px;
	border-left-width: 0;
}
.timeline>li:last-child {
	margin-bottom: 40px;
}
.timeline .timeline-heading h4 {
	padding-top: 0px;
	text-transform: uppercase;
	font-size: 16px;
}
.timeline .timeline-heading h2 {
	margin-top: 30px;
}
.timeline .timeline-heading h4.subheading {
	text-transform: none;
	color: #629ca7;
	font-size: 25px;
}
.timeline .timeline-body>p, .timeline .timeline-body>ul {
	margin-bottom: 0;
}
.timeline-body img{
	width: 100%;
}
.timeline-body p{
	line-height: 25px;
	font-size: 16px;
	padding:20px;
	background-color: #f5f5f5;
}
/* copyright section  */
#copyright_history {
	background-color: #fafafa;
}

#copyright{
	background-color: #e3e3e3;
}

.gototop {
  background-color: #242424;
  color: #ffffff;
  font-size: 40px;
  padding: 20px 32px;
  text-align: right;
  transition: all 0.4s ease-in-out;
}
.gototop:hover {
  background-color: #c21500;
  color: #fff;
}
/* Footer Section*/
#footer {
	background: #121d1f;
	color: #7d8384;
	padding: 30px 0 25px 0;
}
#footer p {
	font-size: 13px;
}
#footer a {
	color: #a0a5a5;
}
#footer a:hover {
	color: #7bc3d1;
}

/* Media Queries */


@media(max-width:768px) {

#header .intro-text{
	margin:0 auto;
	padding: 60px;
}
#nav .fa{
	font-size: 23px;
	margin-top: 0;
}
.navbar-header{
	border: 0;
}
.navbar-custom{
	padding:0;
}
#nav .select{
	color: #00bce9;
	font-weight:600;
	border-bottom: 2px solid #00bce9;
}
#Main{
  padding-top: 80px;
  padding-bottom: 80px;
}
#Main .Main-thumb-text {
  padding: 15px 30px;
}
#Main .Main-thumb-sub{
  padding: 15px 30px;
}

/* timeline */
.timeline:before {
	left: 50px;
}
.timeline>li {
	margin-bottom: 50px;
	min-height: 50px;
}

.timeline>li .timeline-panel {
	float: right;	
	width: 100%;
	padding: 0px 20px 0 120px;
	text-align: left;
}

.timeline>li .timeline-image {
	width: 100px;
	height: 100px;
	left: 0;
	margin-left: 0px;
}
.timeline>li .timeline-image h4 {
	margin-top: 10px;
	font-size: 14px;
}
.timeline>li.timeline-inverted>.timeline-panel {
	float: right;
	padding: 0 20px 0 120px;
}
.timeline-body p{
	line-height: 20px;
	font-size: 14px;
}

}

@media(max-width:560px) {
.section-title.center{
	padding:80px 0;
}
#nav .select{
	color: #00bce9;
	font-weight:600;
	border-bottom: 0;
	border-left: 4px solid #00bce9;
}
#Main .sub-nav{	
	display: none;
}
#Main span h3{
	margin:30px 0;
}
#Main .sub-img_L{
	width: 95%;
}
#Main .sub-img_S{
	width: 90%;
}
#Main .Main-thumb-text {
  padding: 10px 20px;
}
#Main .Main-thumb-sub{
  padding: 10px 20px;
}

.filter-wrapper {
	margin-top:20px;
}
	
.timeline:before {
	left: 40px;
}
.timeline>li .timeline-image {
	width: 80px;
	height: 80px;
	left: 0;
	margin-left: 0px;
}
.timeline>li .timeline-image h4 {
	margin-top: 6px;
	font-size: 12px;
}
.timeline>li .timeline-panel {
	padding: 0px 20px 0 100px;
}
.timeline>li.timeline-inverted>.timeline-panel {
	padding: 0 20px 0 100px;
}
.timeline-body p{
	font-size: 12px;
}
	
.gototop {
	  font-size: 30px;
	  padding: 13px 25px;
  }
}

