body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1605px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u5104 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5105 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5106_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5106 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:108px;
  width:1102px;
  height:36px;
  color:#999999;
}
#u5107 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:1098px;
  word-wrap:break-word;
}
#u5108 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5109 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5110_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  height:743px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5110 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:143px;
  width:562px;
  height:743px;
  color:#999999;
}
#u5111 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:364px;
  width:558px;
  word-wrap:break-word;
}
#u5112 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5113_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:413px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5113 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:143px;
  width:271px;
  height:413px;
  color:#999999;
}
#u5114 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:198px;
  width:267px;
  word-wrap:break-word;
}
#u5115 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5116_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:413px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5116 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:143px;
  width:271px;
  height:413px;
  color:#999999;
}
#u5117 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:198px;
  width:267px;
  word-wrap:break-word;
}
#u5118 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5119 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5120 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5121_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:343px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5121 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:543px;
  width:271px;
  height:343px;
  color:#999999;
}
#u5122 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:164px;
  width:267px;
  word-wrap:break-word;
}
#u5123 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5124 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5125_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:343px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5125 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:543px;
  width:271px;
  height:343px;
  color:#999999;
}
#u5126 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:164px;
  width:267px;
  word-wrap:break-word;
}
#u5127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5129_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u5129 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:85px;
  width:1102px;
  height:24px;
  color:#999999;
}
#u5130 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:1098px;
  word-wrap:break-word;
}
#u5131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:385px;
  height:801px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5131 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:85px;
  width:385px;
  height:801px;
}
#u5132 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:365px;
  word-wrap:break-word;
}
#u5133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5134 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:85px;
  width:1102px;
  height:24px;
}
#u5135 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:1098px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5136 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:89px;
  width:24px;
  height:16px;
}
#u5137 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  white-space:nowrap;
}
#u5138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5138 {
  border-width:0px;
  position:absolute;
  left:107px;
  top:89px;
  width:25px;
  height:16px;
}
#u5139 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:25px;
  white-space:nowrap;
}
#u5140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5140 {
  border-width:0px;
  position:absolute;
  left:156px;
  top:89px;
  width:30px;
  height:16px;
}
#u5141 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  white-space:nowrap;
}
#u5142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5142 {
  border-width:0px;
  position:absolute;
  left:209px;
  top:89px;
  width:52px;
  height:16px;
}
#u5143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u5144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5144 {
  border-width:0px;
  position:absolute;
  left:285px;
  top:89px;
  width:50px;
  height:16px;
}
#u5145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  white-space:nowrap;
}
#u5146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5146 {
  border-width:0px;
  position:absolute;
  left:358px;
  top:89px;
  width:29px;
  height:16px;
}
#u5147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u5148 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:32px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5149 {
  border-width:0px;
  position:absolute;
  left:1176px;
  top:0px;
  width:98px;
  height:32px;
}
#u5150 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u5151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5151 {
  border-width:0px;
  position:absolute;
  left:1284px;
  top:8px;
  width:75px;
  height:16px;
}
#u5152 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u5153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5153 {
  border-width:0px;
  position:absolute;
  left:1505px;
  top:8px;
  width:90px;
  height:16px;
}
#u5154 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  word-wrap:break-word;
}
#u5155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:32px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5155 {
  border-width:0px;
  position:absolute;
  left:1397px;
  top:0px;
  width:98px;
  height:32px;
}
#u5156 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u5157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1606px;
  height:2px;
}
#u5157 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:31px;
  width:1605px;
  height:1px;
}
#u5158 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1601px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1606px;
  height:2px;
}
#u5159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1605px;
  height:1px;
}
#u5160 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1601px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:32px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:32px;
}
#u5162 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u5163_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5163 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:8px;
  width:133px;
  height:16px;
}
#u5164 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u5165_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:32px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5165 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:0px;
  width:98px;
  height:32px;
}
#u5166 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u5167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5167 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:8px;
  width:810px;
  height:16px;
}
#u5168 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  word-wrap:break-word;
}
#u5169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:909px;
  background:inherit;
  background-color:rgba(255, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5170 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:31px;
  width:30px;
  height:909px;
  opacity:0.3;
}
#u5171 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:446px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1605px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5172 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:1605px;
  height:30px;
  opacity:0.3;
}
#u5173 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:1601px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:909px;
  background:inherit;
  background-color:rgba(255, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5174 {
  border-width:0px;
  position:absolute;
  left:1575px;
  top:31px;
  width:30px;
  height:909px;
  opacity:0.3;
}
#u5175 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:446px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1605px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5176 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:910px;
  width:1605px;
  height:30px;
  opacity:0.3;
}
#u5177 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:1601px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5178 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5179_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5179 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:108px;
  width:271px;
  height:59px;
}
#u5180 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:22px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5181_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:151px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  line-height:38px;
}
#u5181 {
  border-width:0px;
  position:absolute;
  left:473px;
  top:108px;
  width:151px;
  height:59px;
  opacity:0.5;
  color:#000000;
  line-height:38px;
}
#u5182 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:131px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5183_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:59px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#000000;
  line-height:38px;
}
#u5183 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:108px;
  width:120px;
  height:59px;
  color:#000000;
  line-height:38px;
}
#u5184 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:100px;
  word-wrap:break-word;
}
#u5185_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:20px;
  background:inherit;
  background-color:rgba(51, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u5185 {
  border-width:0px;
  position:absolute;
  left:355px;
  top:87px;
  width:35px;
  height:20px;
  color:#FFFFFF;
}
#u5186 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:29px;
  white-space:nowrap;
}
#u5187_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(51, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5187 {
  border-width:0px;
  position:absolute;
  left:329px;
  top:124px;
  width:24px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u5188 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u5189_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(51, 153, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5189 {
  border-width:0px;
  position:absolute;
  left:353px;
  top:124px;
  width:271px;
  height:30px;
}
#u5190 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5191_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u5191 {
  border-width:0px;
  position:absolute;
  left:1201px;
  top:128px;
  width:65px;
  height:20px;
  text-align:left;
}
#u5192 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  white-space:nowrap;
}
