body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1610px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20306 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20307 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20308_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:36px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20308 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:108px;
  width:1102px;
  height:36px;
  color:#999999;
}
#u20309 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:1098px;
  word-wrap:break-word;
}
#u20310 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20311 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20312_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:562px;
  height:743px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20312 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:143px;
  width:562px;
  height:743px;
  color:#999999;
}
#u20313 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:364px;
  width:558px;
  word-wrap:break-word;
}
#u20314 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20315_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:413px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20315 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:143px;
  width:271px;
  height:413px;
  color:#999999;
}
#u20316 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:198px;
  width:267px;
  word-wrap:break-word;
}
#u20317 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20318_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:413px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20318 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:143px;
  width:271px;
  height:413px;
  color:#999999;
}
#u20319 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:198px;
  width:267px;
  word-wrap:break-word;
}
#u20320 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20321 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20322 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20323_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:343px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20323 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:543px;
  width:271px;
  height:343px;
  color:#999999;
}
#u20324 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:164px;
  width:267px;
  word-wrap:break-word;
}
#u20325 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20326 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20327_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:343px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20327 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:543px;
  width:271px;
  height:343px;
  color:#999999;
}
#u20328 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:164px;
  width:267px;
  word-wrap:break-word;
}
#u20329 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20330 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20331_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1102px;
  height:24px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(201, 201, 201, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u20331 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:85px;
  width:1102px;
  height:24px;
  color:#999999;
}
#u20332 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:1098px;
  word-wrap:break-word;
}
#u20333 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20334_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:343px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20334 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:543px;
  width:271px;
  height:343px;
}
#u20335 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:164px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20336 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20337_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20337 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:856px;
  width:271px;
  height:30px;
}
#u20338 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20339_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:16px;
}
#u20339 {
  border-width:0px;
  position:absolute;
  left:975px;
  top:864px;
  width:21px;
  height:16px;
}
#u20340 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20341_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:16px;
  height:16px;
}
#u20341 {
  border-width:0px;
  position:absolute;
  left:1050px;
  top:864px;
  width:16px;
  height:16px;
}
#u20342 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:12px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20343_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:16px;
}
#u20343 {
  border-width:0px;
  position:absolute;
  left:1120px;
  top:864px;
  width:15px;
  height:16px;
}
#u20344 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:0px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20345_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:16px;
}
#u20345 {
  border-width:0px;
  position:absolute;
  left:902px;
  top:864px;
  width:19px;
  height:16px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:11px;
}
#u20346 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:1px;
  width:15px;
  word-wrap:break-word;
}
#u20347 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:21px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20348 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:617px;
  width:264px;
  height:21px;
  opacity:0.3;
}
#u20349 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:260px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20350 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:617px;
  width:132px;
  height:85px;
}
#u20350_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20351 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:64px;
  height:20px;
}
#u20352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u20352 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u20352_img.selected {
}
#u20352.selected {
}
#u20353 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20354_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20354 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:42px;
  height:20px;
}
#u20355 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:37px;
  white-space:nowrap;
}
#u20351_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20356 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:63px;
  height:20px;
}
#u20357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:9px;
  height:9px;
}
#u20357 {
  border-width:0px;
  position:absolute;
  left:6px;
  top:6px;
  width:9px;
  height:9px;
}
#u20357_img.selected {
}
#u20357.selected {
}
#u20358 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-4px;
  width:5px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20359_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:41px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20359 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:41px;
  height:20px;
}
#u20360 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:36px;
  white-space:nowrap;
}
#u20356_children {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20361 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:20px;
  width:87px;
  height:20px;
}
#u20362_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20362 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:65px;
  height:20px;
}
#u20363 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:60px;
  white-space:nowrap;
}
#u20364 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:40px;
  width:87px;
  height:20px;
}
#u20365_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20365 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:0px;
  width:65px;
  height:20px;
}
#u20366 {
  border-width:0px;
  position:absolute;
  left:3px;
  top:2px;
  width:60px;
  white-space:nowrap;
}
#u20367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:263px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  color:#666666;
  text-align:left;
}
#u20367 {
  border-width:0px;
  position:absolute;
  left:889px;
  top:579px;
  width:263px;
  height:28px;
  font-family:'Arial Cursiva', 'Arial Normal', 'Arial';
  font-weight:400;
  font-style:italic;
  color:#666666;
  text-align:left;
}
#u20368 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:259px;
  word-wrap:break-word;
}
#u20369 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:30px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20370 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:543px;
  width:271px;
  height:30px;
}
#u20371 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20372 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u20373 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:557px;
  width:11px;
  height:1px;
  -webkit-transform:rotate(45deg);
  -moz-transform:rotate(45deg);
  -ms-transform:rotate(45deg);
  transform:rotate(45deg);
}
#u20374 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:2px;
}
#u20375 {
  border-width:0px;
  position:absolute;
  left:1134px;
  top:557px;
  width:11px;
  height:1px;
  -webkit-transform:rotate(315deg);
  -moz-transform:rotate(315deg);
  -ms-transform:rotate(315deg);
  transform:rotate(315deg);
}
#u20376 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:7px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20377_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20377 {
  border-width:0px;
  position:absolute;
  left:896px;
  top:549px;
  width:121px;
  height:16px;
}
#u20378 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:121px;
  word-wrap:break-word;
}
#u20379 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u20380 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:643px;
  width:15px;
  height:10px;
}
#u20381 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u20382 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:663px;
  width:15px;
  height:10px;
}
#u20383 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:10px;
}
#u20384 {
  border-width:0px;
  position:absolute;
  left:899px;
  top:682px;
  width:15px;
  height:10px;
}
#u20385 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-3px;
  width:11px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:13px;
}
#u20386 {
  border-width:0px;
  position:absolute;
  left:1135px;
  top:642px;
  width:10px;
  height:13px;
}
#u20387 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:13px;
}
#u20388 {
  border-width:0px;
  position:absolute;
  left:1135px;
  top:662px;
  width:10px;
  height:13px;
}
#u20389 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:10px;
  height:13px;
}
#u20390 {
  border-width:0px;
  position:absolute;
  left:1135px;
  top:681px;
  width:10px;
  height:13px;
}
#u20391 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:6px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20392_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:390px;
  height:801px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20392 {
  border-width:0px;
  position:absolute;
  left:1190px;
  top:85px;
  width:390px;
  height:801px;
}
#u20393 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:10px;
  width:370px;
  word-wrap:break-word;
}
#u20394 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20395_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:909px;
  background:inherit;
  background-color:rgba(255, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:31px;
  width:30px;
  height:909px;
  opacity:0.3;
}
#u20396 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:446px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20397_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1611px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20397 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:32px;
  width:1611px;
  height:30px;
  opacity:0.3;
}
#u20398 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:1607px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20399_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:909px;
  background:inherit;
  background-color:rgba(255, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20399 {
  border-width:0px;
  position:absolute;
  left:1580px;
  top:31px;
  width:30px;
  height:909px;
  opacity:0.3;
}
#u20400 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:446px;
  width:26px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20401_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1610px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:910px;
  width:1610px;
  height:30px;
  opacity:0.3;
}
#u20402 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:1606px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20403 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u20404_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:32px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20404 {
  border-width:0px;
  position:absolute;
  left:1176px;
  top:0px;
  width:98px;
  height:32px;
}
#u20405 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u20406_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20406 {
  border-width:0px;
  position:absolute;
  left:1284px;
  top:8px;
  width:75px;
  height:16px;
}
#u20407 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:75px;
  white-space:nowrap;
}
#u20408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20408 {
  border-width:0px;
  position:absolute;
  left:1505px;
  top:8px;
  width:101px;
  height:16px;
}
#u20409 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:101px;
  word-wrap:break-word;
}
#u20410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:32px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20410 {
  border-width:0px;
  position:absolute;
  left:1397px;
  top:0px;
  width:98px;
  height:32px;
}
#u20411 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u20412_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1611px;
  height:2px;
}
#u20412 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:31px;
  width:1610px;
  height:1px;
}
#u20413 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1606px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20414_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1611px;
  height:2px;
}
#u20414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1610px;
  height:1px;
}
#u20415 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:1606px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20416_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:32px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20416 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:32px;
}
#u20417 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u20418_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20418 {
  border-width:0px;
  position:absolute;
  left:108px;
  top:8px;
  width:133px;
  height:16px;
}
#u20419 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  word-wrap:break-word;
}
#u20420_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:98px;
  height:32px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-left:0px;
  border-right:0px;
  border-radius:0px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20420 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:0px;
  width:98px;
  height:32px;
}
#u20421 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:94px;
  word-wrap:break-word;
}
#u20422_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20422 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:8px;
  width:810px;
  height:16px;
}
#u20423 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:810px;
  word-wrap:break-word;
}
#u20424_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(51, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u20424 {
  border-width:0px;
  position:absolute;
  left:861px;
  top:856px;
  width:24px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u20425 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u20426_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u20426 {
  border-width:0px;
  position:absolute;
  left:1205px;
  top:211px;
  width:65px;
  height:20px;
  text-align:left;
}
#u20427 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  white-space:nowrap;
}
#u20428_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:271px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(51, 153, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20428 {
  border-width:0px;
  position:absolute;
  left:885px;
  top:856px;
  width:271px;
  height:30px;
}
#u20429 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:267px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20430_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:241px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(51, 153, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20430 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:613px;
  width:265px;
  height:241px;
}
#u20431 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:112px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20432_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:265px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:2px;
  border-style:solid;
  border-color:rgba(51, 153, 0, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20432 {
  border-width:0px;
  position:absolute;
  left:887px;
  top:579px;
  width:265px;
  height:32px;
}
#u20433 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:261px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20434_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(51, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u20434 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:579px;
  width:24px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u20435 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u20436_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:24px;
  height:24px;
  background:inherit;
  background-color:rgba(51, 153, 0, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u20436 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:613px;
  width:24px;
  height:24px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#FFFFFF;
}
#u20437 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:20px;
  word-wrap:break-word;
}
#u20438_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u20438 {
  border-width:0px;
  position:absolute;
  left:1205px;
  top:292px;
  width:65px;
  height:20px;
  text-align:left;
}
#u20439 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  white-space:nowrap;
}
#u20440_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u20440 {
  border-width:0px;
  position:absolute;
  left:1205px;
  top:134px;
  width:65px;
  height:20px;
  text-align:left;
}
#u20441 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:61px;
  white-space:nowrap;
}
