*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: 18px;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 1em;
  line-height: 1.6;
  background: -webkit-linear-gradient(right, #cb2d3e, #ef473a);
  background: linear-gradient(to left, #cb2d3e, #ef473a);
  min-height: 100vh;
}

.blink {
  display: inline-block;
  border-radius: 50px;
  width: 70px;
  height: 70px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.blink:before, .blink:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50px;
  opacity: 0;
}
.blink:before {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-animation: blink 1.6s infinite linear;
          animation: blink 1.6s infinite linear;
}
.blink:after {
  -webkit-animation: blink 1.6s 1.2s infinite linear;
          animation: blink 1.6s 1.2s infinite linear;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  33.33333% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}

@keyframes blink {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.4);
            transform: scale(0.4);
  }
  33.33333% {
    opacity: 1;
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: scale(2);
            transform: scale(2);
  }
}
